
@{
    ViewBag.Title = "Role";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.css">
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.js"></script>

<style>
    h2 {
        margin-left: 20px;
    }

    .btn-add {
        margin-right: 20px;
    }
</style>

<div class="container-fluid">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/Home/Index">Quản lý</a></li>
            <li class="breadcrumb-item active" aria-current="page">Phân Quyền</li>
        </ol>
    </nav>


</div>
<h2>Chức vụ</h2>
<br />
<div class="text-right btn-add">
    <button type="button" class="btn btn-primary btn-lg" onclick="addRole()"><i style="padding-right:5px" class="fas fa-plus"></i>Thêm chức vụ</button>
</div>
<br />
<div class="card-body">
    <div class="table-responsive">
        <table class="table table-striped" id="myTable">
            <thead>
                <tr>
                    <th scope="col">Tên Chức vụ</th>

                    <th scope="col">Chức năng</th>
                </tr>
            </thead>
            <tbody>
                @using (DACSEntities db = new DACSEntities())
                {

                    var vaitro = db.ROLEs.ToList();
                    foreach (var item in vaitro.ToList())
                    {
                        <tr>
                            <td>@item.NAMEROLE</td>
                            <td>
                                <div class="btn-group" role="group">
                                    <button type="button" class="btn btn-primary mr-10" onclick="SuaVaiTro(@item.IDROLE)"><i class="fa fa-edit"></i></button>
                                    <button type="button" class="btn btn-danger ml-10" onclick="XoaVaiTro(@item.IDROLE,'@item.IDROLE')"><i class="fa fa-trash"></i></button>
                                </div>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>
<!--Model Thêm-->
<div class="modal fade" id="modalAdd" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addTitle">Thêm chức vụ</h5>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label class="col-form-label">Tên chức vụ</label>
                        <input type="text" class="form-control" name="NAME">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                <button type="button" class="btn btn-primary" onclick="SaveInfo()"><i class="far fa-save"></i> Lưu</button>

            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    $(document).ready(function () {
        $('#myTable').dataTable();
    });

    let idRole = 0;

    function addRole() {
        id = 0;
        $("[name='NAME']").val("");
        $("#modalAdd").modal("show");
    }

    function SuaVaiTro(id) {
        idPosition = id;
        $.ajax({
            url: '/Ajax/GetPosition/' + idPosition,
            type: 'GET',
            dataType: 'text',
            data: {
                id: idPosition,
            }
        }).done(function (ketqua) {
            var json = JSON.parse(ketqua);
            $("#addTitle").html("Chỉnh sửa vai trò");
            $("[name='NAME']").val(json.NAME);
            $("#modalAdd").modal("show");

        });
    }
    function XoaVaiTro(id) {
        if (!confirm("Bạn có muốn xóa vị trí này không?")) return;
        $.ajax({
            url: '/Ajax/DeleteRole/' + id,
            type: 'POST',
            dataType: 'text'
        }).done(function (ketqua) {
            if (ketqua == "ok") {
                $.notify("Xóa thành công !", "success");
                location.reload();
                return;
            }
        }).fail(function (result) {
            if (result != "ok") {
                $.notify("Có lỗi xảy ra !", "error");
            }
        });
    }

    function SaveInfo() {
        var name = $("[name='NAME']").val();
        if (name == '') {
            $.notify("Vui lòng nhập thông tin !", "error");

            return;
        }
        $.ajax({
            url: '/Ajax/EditPosition',
            type: 'POST',
            dataType: 'text',
            data: {
                IDROLE: idRole,
                NAMEROLE: name
            }
        }).done(function (result) {
            if (result.Success) {

                location.reload();
                return;

            }
            $.notify("Lưu thành công", "success");

        });

    }</script>